::ng-deep :root {
}

.sortresp{
    height: calc(0.001rem + 4vw);
    font-size: calc(0.001rem + 1.2vw);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    margin-left: 5%;
    padding: 0px;
}

#sortnumber{
    font-size: calc(0.001rem + 1.2vw);
    font-family: var(--fonttoptd);
    width: 1px;
}

#sortnumberth{
    padding: 0px;
    margin: 0px;
}

#btnRemove{
    height: calc(0.7rem + 2vw);
    width: calc(0.5rem + 6vw);
    font-size: calc(0.01rem + 1.2vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: calc(0.01rem + 0.6vw);
}

#btnEditar{
    height: calc(0.7rem + 2vw);
    width: calc(0.5rem + 6vw);
    font-size: calc(0.01rem + 1.2vw);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nopaddingtupla{
    padding: calc(0.01rem + 0.5vw);
    margin: 0px;
}

#svg_info{
    margin-bottom: calc(1px + 0.8vw);
    width: calc(1px + 0.8vw);
}

svg{
    margin-bottom: 1px;
    width: calc(0.001rem + 1.2vw);
}

th, td {
    font-family: "Arvo";
}

.zeropadding{
    padding: 0px;
}